@model ViewModel
@section Css{
    <link href="@Url.Content("~/Content/Network_Index.css")" rel="stylesheet" type="text/css" />    
}
@section Js{
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/network.js")" type="text/javascript"></script>
}
@Html.Partial("_Banner")
<div class="container">
    <div class="Slogan cl">
        <div class="sloganContent font_size11 cl">
            <p class="font_size34 lh40">使用Asp.Net Mvc3进行网站开发,只定制最符合用户需求的网站.</p>
            <h1>捂碳网络工作室</h1>
            站长电话：  &#9742; 18061511654<br />
            我们承若每个网站都是定制开发.捂碳网络工作室不做网站的搬运工,只从事优质网站的开发建设！
        </div>
        <div class="sloganContent cl">
            <div class="pro_slist">
                <ul>
                    <li class="p"><a href="/EnterpriseStation.html" title="企业站建设网站/Company"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>企业站建设网站</strong>Company</p>
                        </div>
                    </li>
                    <li class="b"><a href="/ForeignTrade.html" title="外贸网站建设/Trade"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>外贸网站建设</strong>Trade</p>
                        </div>
                    </li>
                    <li class="t"><a href="/OperationAndMaintenance/23.html" title="网站托管服务/Server"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>网站托管服务</strong>Server</p>
                        </div>
                    </li>
                    <li class="y"><a href="/OperationAndMaintenance/22.html" title="网站维护服务/Server"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>网站维护服务</strong>Server</p>
                        </div>
                    </li>
                    <li class="m"><a href="/WebDomain.html" title="建站基础服务/Server"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>建站基础服务</strong>Server</p>
                        </div>
                    </li>
                    <li class="e"><a href="/ServiceSupport.html" title="客户支持/Support"><span class="sd"></span><span class="rad"><i class="icon"></i></span></a>
                        <div class="txt">
                            <p><strong>客户支持</strong>Support</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mtop20 Features">
        <div class="title">选择我们的理由</div>
        <div class="desc">我们信仰专业的力量，信仰设计的力量，信仰口碑的力量！从未电话营销，在无锡|桃江-我们是稀缺的“技术型”公司！</div>
        <div class="container">
            <a href="#">
                <dl>
                    <dt class="f1"></dt>
                    <dd>
                        <h3>捂碳网络更了解用户需求</h3>
                    </dd>
                    <dd>
                        <p>网站秀色可餐！无锡|桃江网站建设用户体验做到最优，提成网站竞争力！</p>
                    </dd>
                </dl>
            </a><a href="#">
                <dl>
                    <dt class="f2"></dt>
                    <dd>
                        <h3>高效捂碳网络推广</h3>
                    </dd>
                    <dd>
                        <p>实时跟进访客关键词及触发页面，邮件实时推送系统，快如闪电！</p>
                    </dd>
                </dl>
            </a><a href="#" class="featuresEnd">
                <dl>
                    <dt class="f3"></dt>
                    <dd>
                        <h3>捂碳网络网站SEO优化诊断</h3>
                    </dd>
                    <dd>
                        <p>走出迷茫，常州网站优化诊断帮你客观分析网站问题出在哪里！</p>
                    </dd>
                </dl>
            </a><a href="#">
                <dl>
                    <dt class="f4"></dt>
                    <dd>
                        <h3>特色捂碳网页设计</h3>
                    </dd>
                    <dd>
                        <p>三家知名网络公司技术部经理组成的技术团队，设计前卫！</p>
                    </dd>
                </dl>
            </a><a href="#">
                <dl>
                    <dt class="f5"></dt>
                    <dd>
                        <h3>捂碳网络公司服务好</h3>
                    </dd>
                    <dd>
                        <p>捂碳网络公司提供 7x24 技术服务，时刻在线，快速解决问题</p>
                    </dd>
                </dl>
            </a>
            <a href="#" class="featuresEnd">
                <dl>
                    <dt class="f6"></dt>
                    <dd>
                        <h3>品牌整合营销服务商</h3>
                    </dd>
                    <dd>
                        <p>基础捂碳网站建设，客户网络营销推广策划，电子商务团队培训</p>
                    </dd>
                </dl>
            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row mtop20 mp30 Products pr">
        <div class="title" >我们的作品案例</div>
        <div class="desc">力求视觉与交互的完美契合，以规范的流程和专注的态度，为您提供全方位的设计服务</div>
        <div class="container"><img width="1000" height="1" src="/Upload/copyRightLine.jpg"></div>
        <ul class="webcase pr">
            @foreach (var item in CurrentBLL.GBLL.GetRelatedGuides(WebName.NetWork, "建站案例",0,8,1))
            {
                <li class="pr cl">
                    <a href="@URLUtility.NetWordGuideUrl(0, item["PSeoUrl"].ToEmptyTrimString(),0, item["CSeoUrl"].ToEmptyTrimString(), item.AutoKey)">
                        <div><img src="@item["ImgUrl"].ToEmptyTrimString().GetSmallUrl()" alt="@item.GuideName" width="320" height="200"/></div>
                        <div class="casetitle"><i></i><span class="cl">@item.GuideName</span></div>
                    </a>
                </li>
            }
        </ul>
        <div class="clear"></div>
    </div>

    <div class="row mtop30">
        <div class="network_new left">
            <div class="title">行业资讯和公司动态</div>
            <div class="newsTitle font_size11">
                <span class="left cp hover" data-value="0">网站建设观点</span><span class="left cp" data-value="1">行业新闻</span><span class="left cp" data-value="2">捂碳公司新闻</span>
            </div>
            <div class="newsContent">
                <ul class="news_part_Content hover">
                    @foreach (var item in CurrentBLL.GBLL.GetRelatedGuides(WebName.NetWork, "新闻动态>网站建设观点", 0, 8, 0))
                    { 
                        <li><a href="@URLUtility.NetWordGuideUrl(0, item["PSeoUrl"].ToEmptyTrimString(),0, item["CSeoUrl"].ToEmptyTrimString(), item.AutoKey)" class="cl">
                            <span class="left">@item.GuideName</span><span class="right">@String.Format("{0:yyyy-MM-dd}", item.CreateTime)</span></a></li>
                    }
                </ul>
                <ul class="news_part_Content">
                    @foreach (var item in CurrentBLL.GBLL.GetRelatedGuides(WebName.NetWork, "新闻动态>行业新闻", 0, 8, 0))
                    { 
                        <li><a href="@URLUtility.NetWordGuideUrl(0, item["PSeoUrl"].ToEmptyTrimString(),0, item["CSeoUrl"].ToEmptyTrimString(), item.AutoKey)" class="cl">
                            <span class="left">@item.GuideName</span><span class="right">@String.Format("{0:yyyy-MM-dd}", item.CreateTime)</span></a></li>
                    }
                </ul>
                <ul class="news_part_Content">
                    @foreach (var item in CurrentBLL.GBLL.GetRelatedGuides(WebName.NetWork, "新闻动态>捂碳动态", 0, 8, 0))
                    { 
                        <li><a href="@URLUtility.NetWordGuideUrl(0, item["PSeoUrl"].ToEmptyTrimString(),0, item["CSeoUrl"].ToEmptyTrimString(), item.AutoKey)" class="cl">
                            <span class="left">@item.GuideName</span><span class="right">@String.Format("{0:yyyy-MM-dd}", item.CreateTime)</span></a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="process right">
            <div><a href="/ServiceSupport.html" title="捂碳网络合作流程"><img src="/Upload/process1.png"/></a></div>
            <div class="container">
                <div class="left cl">
                    <img src="/Upload/process3.png"/>
                </div>
                <div class="right cl">
                    <img src="/Upload/process2.png"/>
                    <div class="process_txt">
                          一：建立合作意向，明确项目需求；
                        <br>
                            二：确定项目设计制作周期及费用；
                        <br>
                            三：签署项目合作协议，支付项目启动定金；
                        <br>
                            四：启动项目，3-5个工作日内完成初稿，确定设计风格；
                        <br>
                            五：完成项目，修改调整并最终确认；
                        <br>
                            六：项目验收合格，支付尾款，交付项目源文件；
                        <br>
                            七：项目完成，提供免费局部设计修改。
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


