<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - @ConfigBLL.CurrentSysConfigInfo.Sys_Value.WebName</title>
    <meta name="keywords" content="@ViewBag.Keywords @ConfigBLL.CurrentSysConfigInfo.Sys_Value.Keyword" />
    <meta name="description" content="@ViewBag.Description" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Css", false)
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.SuperSlide.js")" type="text/javascript"></script>
    <meta name="author" content="5TAN.NET" />
    <!--[if lt IE 9]> <script src="@Url.Content("~/Scripts/css3-mediaqueries.js")" type="text/javascript"></script> <![endif]-->
    <!--[if IE 6]>
    <script src="@Url.Content("~/Scripts/png.js")" type="text/javascript" ></script>
     <script type="text/javascript">
     DD_belatedPNG.fix('.nav_box, .navi img, .hd_logo img, #maincontent .entry-info, #maincontent .entry-info .entry-title, .slider .slider-more, .slider-nav a, .user_link i, .usernav li .png i, .userinfo .arrow, .user_list .i_qq, .user_list .i_wb, .nav_icon, .blackbg, .comment-bubble, .slider-more');
    </script> 
    <script language='javascript' type="text/javascript">   
    function ResumeError() {  
         return true;  
    }  
    window.onerror = ResumeError;   
    </script> 
    <![endif]-->

    <style type="text/css">
        @@media screen and (max-width: 1200px) {
            body{ width:1200px; margin:0 auto;}
        }
    </style>
</head>

<body id="nv_portal" class="pg_index" onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_CustomerService")
    @Html.Partial("_Footer")
    @RenderSection("Js", false)
</body>
</html>
