@model ChangePasswordModel
<div class="place">
    <span>當前位置：</span>
    <ul class="placeul">
        <li><a href="javascript:void(0);">密码修改</a></li>
    </ul>
</div>
<div class="formbody">
    <div class="formtitle"><span>用户密码修改</span></div>
    @if (Model.Msg != null)
    {  
        <div class="formtext" id="msgInfo">@Model.Msg.GetMessageInfo()</div>
    }
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
     <ul class="forminfo">
        <li><label>原始密码<b>*</b></label>@Html.PasswordFor(s => s.OldPassword, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(s => s.OldPassword)</i></li>
        <li><label>新密码<b>*</b></label>@Html.PasswordFor(s => s.Password, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(s => s.Password)</i></li>
        <li><label>确认密码<b>*</b></label>@Html.PasswordFor(s => s.ConfirmPassword, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(s => s.ConfirmPassword)</i></li>
        <li><label>&nbsp;</label>
            <input name="" type="submit" class="btn" value="修改密码"/>
        </li>
    </ul>
    }
</div>
