@model List<MenuItem>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="@Url.Content("~/Content/Account.css")" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>

<script type="text/javascript">
    $(function () {
        
        //导航切换
        $(".menuson li").click(function () {
            $(".menuson li.active").removeClass("active")
            $(this).addClass("active");
        });

        $('.title').click(function () {
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if ($ul.is(':visible')) {
                $(this).next('ul').slideUp();
            } else {
                $(this).next('ul').slideDown();
            }
        });
    })	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>通讯录</div>
    
    <dl class="leftmenu">
   
    @foreach (var item in Model)
    {
        <dd>
        <div class="title">
        <span><img alt="" src="/Content/account/@item.IcoName" /></span>@item.MenuName
        </div>
    	<ul class="menuson">
            @foreach (var child in item.ChildItems)
            {
                if (child.Visible == 1)
                {
                    <li><cite></cite><a href="javascript:void(0);" onclick='window.parent.frames["rightFrame"].window.showJumpBox("@child.Url")' target="rightFrame">@child.MenuName</a><i></i></li>
                }
            }
        </ul>
        </dd>
        
    }
    </dl>
    
</body>
</html>
