@model TicketCenterModel
@{
    ViewBag.Title = Model.CurrentCategory.CategoryName + "|票务预订";
    ViewBag.Keywords = Model.CurrentCategory.KeyWord;
    ViewBag.Description = Model.CurrentCategory.Description;
    
}
@section Css{
    <link href="@Url.Content("~/Content/Region.css")" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        .v-fold .f-list li
        {
            width: auto;
        }
        .pic-list li,.pic-list .photo-big p
        {
            height:auto;
        }
    </style>
}
@section Js{
    <script type="text/javascript">
        jQuery(".ranking").slide({ titCell: ".hd li", mainCell: ".bd", delayTime: 0 });
    </script>
}
<div id="ct" class="ct2 wp cl">
    <div id="pt" class="bm cl">
        <div class="z">
            <a class="nvhm" title="网站首页" href="/">@ConfigBLL.CurrentSysConfigInfo.Sys_Value.WebName</a>
            <em>›</em>
            <a href="@URLUtility.TicketCenterUrl()">票务预订</a>
            @if (Model.CurrentCategory.AutoKey != (int)DropDownState.TicketCategory)
            { 
                <em>›</em>
                <a href="@URLUtility.TicketCenterUrl(1, Model.CurrentCategory.AutoKey)">@Model.CurrentCategory.CategoryName</a>
            }
        </div>
    </div>
    <div class="mn animated fadeInUp">
        <div id="select" class="m">
            <div class="mt">
                <h1>
                    票务预订 - <strong>信息筛选</strong>
                </h1>
            </div>
            <div class="mc attrs">
                <div class="brand-attr">
                    <div class="attr">
                        <div class="a-key">
                            范围：</div>
                        <div class="a-values">
                            <div class="v-fold">
                                <ul class="f-list">
                                    <li @(Model.CurrentCategory.AutoKey==(int)DropDownState.TicketCategory ? "class=hover" : "")><a href="@URLUtility.TicketCenterUrl()">
                                        不限</a></li>
                                    @foreach (var item in Model.Ranges)
                                    {
                                        <li @(item.AutoKey==Model.CurrentCategory.AutoKey ? "class=hover" : "")><a href="@URLUtility.TicketCenterUrl(1,item.AutoKey)">@item.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lessProp" class="mb"></div>
        </div>
         <!--内容列表-->
            <div class="bm">
                <div class="portal-hd cl">
                    <h2>@(Model.CurrentCategory.CategoryName)列表</h2>
                </div>
                <ul class="pic-list cl animated fadeInUp">
                    @foreach (var item in Model.SearchModel.DataList)
                    { 
                        <li class="photo-big">
                            <h3><a class="link" style="" href="@URLUtility.TicketDetailUrl(item.AutoKey)">@item.VName</a></h3>
                            <div class="meta">
                                <span class="meta-column">
                                <i></i>
                                <span class="meta-data">@item["CategoryName"]</span>
                                </span>
                                <span class="delim"></span>
                                <span class="meta-data">@String.Format("{0:yyyy-MM-dd HH:ss}", item.CreateTime)</span>
                                <span class="delim"></span>
                                <span class="meta-data price">￥@item.Price.ToPrice()</span>
                            </div>
                            <a href="@URLUtility.TicketDetailUrl(item.AutoKey)" title="@item.VName">
                                @Html.Action("LoadRelatedImg", new { guid = @item.GUID, type = "Visa_Img" })
                                <p>@item.Description.DisplayByMaxLength(80)</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!--分页-->
            <div class="pagin">
                @Model.SearchModel.Pagination.AdminPagingHtml()
            </div>
    </div>
    <div class="sd pph">
        @Html.Partial("_AdsContent", AdsPos.AdsMainContact)
        <div class="mt20">
                <div class="portal-hd">
                    <div id="new-visa-t" class="area">
                        <h2>相关旅游推荐</h2>
                    </div>
                </div>
                <div class="bd">
                    <div class="photo-small">
                        <div id="photo-small-l" class="area">
                             <script type="text/javascript">
                                 var sogou_ad_id = 396823;
                                 var sogou_ad_height = 60;
                                 var sogou_ad_width = 234;
                            </script>
                            <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
                            <ul>
                                @foreach (var item in Model.RelatedContent)
                                {
                                    <li>
                                        <div class="photo-pic">
                                        <a target="_blank" title="@item.Title" href="@URLUtility.SummerDetailUrl(item.AutoKey, item.SEOURL)">
                                            <img width="100" height="75" alt="@item.Title" src="@item.PreviewIMG.GetSmallUrl()"/>
                                        </a>
                                        </div>
                                        <h3>
                                        <a class="link" target="_blank" title="@item.Title" href="@URLUtility.SummerDetailUrl(item.AutoKey, item.SEOURL)">@item.Shorttitle</a>
                                        </h3>
                                        <p title="@item.Description">@item.Description.DisplayByMaxLength(20)</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

        <div class="mt20">
            <div class="portal-hd">
                <div class="area">
                    <h2>相关票务</h2>
                    <a class="more" href="@URLUtility.TicketCenterUrl()">查看所有</a>
                </div>
            </div>
            <div class="bd">
                <script type="text/javascript">
                    var sogou_ad_id = 396822;
                    var sogou_ad_height = 250;
                    var sogou_ad_width = 250;
                        </script>
                        <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
                <ul class="top10">
                    @foreach (var item in Model.RelatedTickets)
                    { 
                        <li>
                            <span class="price">￥@item.Price.ToPrice()</span>
                            <a href="@URLUtility.TicketDetailUrl(item.AutoKey)" title="@item.VName" >@item.VName</a>
                        </li>
                    }
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
