@model VisaDetailModel
@{
    ViewBag.Title = Model.VisaDetail.VName;
    ViewBag.Keywords = Model.VisaDetail.KeyWord;
    ViewBag.Description = Model.VisaDetail.Description;
}
@section Css{
    <link href="@Url.Content("~/Content/GuideDetail.css")" rel="stylesheet" type="text/css" />
}
<div  id="wp" class="wp j_wp">
    <div id="pt" class="bm cl">
        <div class="z">
            <a class="nvhm" title="网站首页" href="/">@ConfigBLL.CurrentSysConfigInfo.Sys_Value.WebName</a>
            <em>›</em>
            <a href="@URLUtility.VisaCenterUrl()">签证中心</a>
            <em>›</em>
            <a href="javascript:void(0);">@Model.VisaDetail.VName</a>
        </div>
    </div>
    <div id="ct" class="ct2 wp cl">
        <div class="mn animated fadeInUp">
            <div class="h hm">
                <h1 class="ph">@Model.VisaDetail.VName</h1>
                <p class="xg1">
                     发布时间:
                    <em >@String.Format("{0:yyyy-MM-dd HH:mm}", Model.VisaDetail.CreateTime)</em>
                     签证价格:
                    <em class="price">￥@Model.VisaDetail.Price.ToPrice()</em>
                </p>
            </div>
            <div id="diysummarytop" class="area"></div>
            <div class="s">
                <div>
                    <strong>简介：</strong>
                    @Model.VisaDetail.Description
                </div>
            </div>
            <div class="d">
                @Html.Raw(Model.VisaDetail.VContent)
            </div>
        </div>
        <div class="sd pph">
            <div class="mt20">
                <div class="portal-hd">
                    <div id="new-visa-t" class="area">
                        <h2>相关签证</h2>
                        <a class="more" href="@URLUtility.VisaCenterUrl()">查看所有</a>
                    </div>
                </div>
                <div class="bd">
                    <script type="text/javascript">
                             var sogou_ad_id = 396822;
                             var sogou_ad_height = 250;
                             var sogou_ad_width = 250;
                        </script>
                        <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
                    <ul class="top10">
                        @foreach (var item in Model.RelatedVisa)
                        { 
                            <li>
                                <span class="price">￥@item.Price.ToPrice()</span>
                                <a href="@URLUtility.VisaDetailUrl(item.AutoKey)" title="@item.VName" >@item.VName</a>
                            </li>
                        }
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div id="new-article-t" class="new-article">
                <div class="portal-hd">
                    <div class="area">
                        <h2>签证常见问题</h2>
                        <a class="more" href="@URLUtility.VisaQuestionUrl()">更多</a>
                    </div>
                </div>
                <div class="bd">
                     <div id="new-article-c" class="area">
                         <script type="text/javascript">
                             var sogou_ad_id = 396823;
                             var sogou_ad_height = 60;
                             var sogou_ad_width = 234;
                            </script>
                            <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
                        <ul>
                            @foreach (var item in Model.VisaQuestion)
                            {
                            <li>
                                <h3>
                                    <a class="link" title="@item.SC_Name" href="@URLUtility.VisaQuestionDetailUrl(item.AutoKey, item.SEOURL)">@item.SC_Name</a>
                                </h3>
                                <p>
                                <i class="quote"></i>
                                    @item.Description.DisplayByMaxLength(35)
                                </p>
                            </li>
                            }
                        </ul>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>