<script src="@Url.Content("~/Scripts/nav.js")" type="text/javascript"></script>
<div id="scrolltop">
    <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" class="scrolltopa" ><b>返回顶部</b></a></span>
</div>
<script type="text/javascript"> _attachEvent(window, 'scroll', function () { showTopLink(); }); checkBlind();</script>
<div id="footer" class="cl">
    <div id="ft" class="wp cl">
        <div class="widget" style="text-align: right;">
        </div>
        <div class="widget-2 last widget">
            <p>
                <a href="@URLUtility.ContactUrl(0, "AboutUs")">关于我们</a>
                <span class="pipe">|</span>
                <a href="@URLUtility.ContactUrl(0, "ContactUs")">联系我们</a>
                <span class="pipe">|</span>
                <a href="@URLUtility.SearchUrl()">整站搜索</a>
                <span class="pipe">|</span>
                <strong>
                    <a target="_blank" href="@ConfigBLL.CurrentSysConfigInfo.Sys_Value.DomainUrl.ToLink()">@ConfigBLL.CurrentSysConfigInfo.Sys_Value.WebName</a>
                </strong>
                (
                    <a target="_blank" href="#">@ConfigBLL.CurrentSysConfigInfo.Sys_Value.BeiAn</a>
                )
            </p>
            <p>本站为效果演示站,数据来源于网络.若网站内容有侵犯到您的版权请联系qq:405562337 我们将会配合您对内容进行处理.</p>
            <p>
                旅游许可证编号：@ConfigBLL.CurrentSysConfigInfo.Sys_Value.LicenseNumber 注册号：@ConfigBLL.CurrentSysConfigInfo.Sys_Value.RegistrationNumber
            </p>
            <p>
                @(ConfigBLL.CurrentSysConfigInfo.Sys_Value.WebName)国际旅行社地址：@ConfigBLL.CurrentSysConfigInfo.Sys_Value.Address
            </p>
        </div>
    </div>
</div>