<div class="Header container">
    <div class="row cl pr">
        <a class="Logo pa cp db" href="/">
            <img src="@Url.Content("~/Upload/Network/logo.png")" width="170" height="185" alt="捂碳网络公司的LOGO" />
        </a>
        <ul class="Nav right cl pr">
            <li class="hover"><a href="/">首页</a></li>
            <li><a href="/neimaowangzhan.html">内贸营销</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="#">内贸网站建设</a></span> <span><a href="#">网站优化营销</a></span> <span><a href="#">企业邮局系统</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/1.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/waimaotong.html">外贸营销</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/waimaotong.html">外贸通网站系统</a></span> <span><a href="/googletuiguang.html">google海外竞价推广</a></span> <span><a href="/waimaoyouju.html">外贸邮局系统</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc c">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/2.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/dianshangtuandui.html">电商培训</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/dianshangtuandui.html">电商团队计划</a></span> <span><a href="/dianshangpeixun.html">电商培训课程</a></span></div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/3.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/shangyesheying.html">增值服务</a>
                <div class="subMenu">
                    <div class="navPart4 left"><span class="l"><a href="/shangyesheying.html">商业摄影摄像</a></span> <span class="r"><a href="/shoujiwangzhan.html">手机版网站</a></span> <span class="l"><a href="/shoujikehuduan.html">手机客户端定制</a></span> <span class="r"><a href="/wangzhanyunying.html">网站运营外包</a></span> <span class="l"><a href="/wangluoanquan.html">网络安全外包</a></span> <span class="r"><a href="/jiankonggongcheng.html">监控工程定制</a></span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/4.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/html/webshow/">网站案例</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/html/neimaowangzhananli/">内贸网站</a></span> <span><a href="/html/waimaowangzhananli/">外贸网站</a></span><span><a href="/html/webshow/">我们的客户</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/5.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/fuwuliucheng.html">服务支持</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/fuwuliucheng.html">服务流程</a></span> <span><a href="/kehupingjia.html">客户评价</a></span> <span><a href="/ziliaoxiazai.html">资料下载</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/6.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/html/newscenter/">新闻动态</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/html/news/">公司新闻</a></span> <span><a href="/html/website/">网站建设见解</a></span> <span><a href="/html/netsale/">网络营销见解</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/7.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/about.html">关于我们</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/about.html">公司简介</a></span> <span><a href="/jishuyoushi.html">技术优势</a></span> <span><a href="/zoujinwomeng.html">走进我们</a></span> <span><a href="/falvguwen.html">法律顾问</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/8.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li><a href="/contact.html">联系我们</a>
                <div class="subMenu">
                    <div class="navPart1 left"><span><a href="/contact.html">联系方式</a></span> <span><a href="">双喜微博</a></span> <span><a href="">在线QQ</a></span> <span><a href="http://www.czxixi.com/blog/" target="_blank">双喜博客</a></span> </div>
                    <div class="navPart2 left"><span class="navPart2CnTitle">捂碳网络科技有限公司</span> <span class="navPart2Desc">提供整合网络营销解决方案，有效的营销+高效转化的网站设计，网络订单真的很容易！</span> </div>
                    <div class="navPart3 left">
                        <img src="@Url.Content("~/Upload/Network/NavPic/9.jpg")" width="200" height="160" /></div>
                </div>
            </li>
            <li id="navBottom">
                <img class="png" src="@Url.Content("~/Upload/Network/nav_bottom2.png")" width="780" height="59" />
            </li>
        </ul>
    </div>
</div>
